Добавления преподавателя

=========================
Введите имя:{{ name }}
{% if name  %}Введите фамилию: {{ surname }} {% endif %}
{% if surname %}
========================
1. Добавить студента
2. Сохранить и выйти
3. Выйти
{% endif %}
