Добаление студента:

===================
Введите имя: {{ name }}
{% if name %}Введите фамилию:{{ surname }}{% endif %}
{% if surname %}Введите возраст:{{ age }}{% endif %}
{% if age %}Введите номер телефона:{{ phone }}{% endif %}
{% if phone %}
_____________________________________________
Добавить еще студента?

1. Да
2. Нет(главное меню)
{% endif %}